ble_test_stm32l4s5iota/Debug/
/MiddleStation/B-L4S5I-IOT01A/Debug/
/MiddleStation/MiddleStation-Zephyr/build/
/Assets/B-L4S5I-IOT01A/Debug/
/Assets/Assets-Zephyr/zephyr/build/
/tools/
/zephyr/
/modules/
/bootloader/
/.west/
/mbedtls/
/nrf/
/nrf/
/nrfxlib/
/test/
